<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.Title}}</title>

    <!-- Canonical SEO -->
    <link rel="canonical" href="{{canonicalUrl}}" />
    <!--  Social tags -->
    <meta name="description" content="{{option "description"}}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ option "twitter"}}">
    <meta name="twitter:title" content="{{option "title"}}">
    <meta name="twitter:description" content="{{option "description"}}">
    <!-- Open Graph data -->
    <meta property="og:title" content="{{option "title"}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{canonicalUrl}}" />
    <meta property="og:description" content="{{option "description"}}" />

    <link rel="stylesheet" href="/assets/css/style.min.css">
    <script type="text/javascript" src="/assets/js/alpine.min.js" defer></script>
    <script type="text/javascript" src="/assets/js/fflate.min.js"></script>

    {{if ne (option "analytics-ua") "" }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{option "analytics-ua"}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{option "analytics-ua"}}');
    </script>
    {{end}}
</head>
<body x-data="gitdManager" x-init="selectListLimit = {{getLimit "max-select"}}; $watch('homeSection', (value, oldValue) => (value) ? gitBranch = '' : '' )" @keydown.escape="modal = false">
    {{template "partials/header" .}}

    <div class="wrapper">
        {{embed}}

        <template aria-label="view-repository" x-if="filterSection">
            <div x-show="filterSection" class="section p-0 py-3 mb-0 bg-white border-bottom" style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <input 
                                x-model="gitBranch" 
                                class="form-control" 
                                placeholder="Branch name" 
                                type="text"
                                name="branch" 
                                value=""
                            >
                        </div>
                        <div class="col-md-8">
                            <div class="dropdown float-right">
                                <a href="javascript:void(0);" @click="toggleDropdown" @click.away="dropdown = false" class="btn btn-md btn-secondary dropdown-toggle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                    </svg>
                                    <span class="nav-link-inner--text">Download Full Package</span>
                                </a>
                            
                                <div x-bind:class="! dropdown ? '' : 'show'" class="dropdown-menu">
                                    <a class="dropdown-item" x-bind:href="archiveUrl" x-text="gitBranch + '.zip'" href="" target="_blank">.Zip</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template aria-label="view-repository" x-if="viewSection">
            <div x-show="viewSection" class="section p-0 py-3 mb-0 bg-white" style="display: none;">
                <div class="container" style="min-height: 800px;">
                    <div class="row">
                        <div class="col-md-12">
                            <template aria-label="alert-box" x-if="alertBox" x-transition>
                                <div x-bind:class="alertType" class="alert border">
                                    <button @click="removeAlertBox" type="button" class="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <p x-html="alertMessage" class="mb-0"></p>
                                </div>
                            </template>

                            <template aria-label="progress-bar" x-if="downloadProgress" x-transition>
                                <div class="border p-3 mb-3" style="background-color:#d1ecf1;">
                                    <div class="progress-info">
                                        <div class="progress-label">
                                            <span @zip-file-download.window="isDownloaded = true" x-text="isFinished ? 'All process completed.' : isDownloaded ? 'Download zip package: ' + currentFileZip : isZipped ? 'Prepare zip file: ' + currentFileZip : 'Files downloading...'"></span>
                                            <span @zip-file-prepare.window="isZipped = true" x-text="fileCounter + ' / ' + totalFiles" class="float-right"></span>
                                        </div>
                                        <div class="progress-percentage">
                                            <span @current-file-download.window="currentFileDownload = $event.detail; updateFileCounter(); calculateProgressBar();" x-text="(isDownloaded || isZipped) ? currentFileZip : currentFileDownload" class="float-left"></span>
                                            <span x-text="progressPercent + '%'"></span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" x-bind:style="{width: progressPercent + '%'}" style="width: 0%;"></div>
                                    </div>
                                </div>
                            </template>

                            <nav x-show="breadcrumbList.length > 0">
                                <ol class="breadcrumb border">
                                    <template aria-label="breadcrumb-item" x-for="breadcrumb in breadcrumbList">
                                    <li x-bind:class="breadcrumbList[breadcrumbList.length-1] == breadcrumb ? 'active' : ''" class="breadcrumb-item"><a href="javascript:void(0);" @click="submitAction('view', breadcrumb, 1)" x-text="breadcrumb == '' ? 'root': breadcrumb"></a></li>
                                    </template>
                                </ol>
                            </nav>

                            <div class="table-responsive">
                                <table class="table table-sm table-hover">
                                <tbody>
                                    <template aria-label="ls-tree" x-for="(treeItem, treeIndex) in treeList">
                                            <tr>
                                                <td>
                                                <template x-if="isTreePath(treeItem)">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input tree-checkbox" x-bind:id="'customCheck' + treeIndex" id="" type="checkbox" @click="toggleSelectList(getTreePath(treeItem), 2) ? '' : $event.target.checked = false">
                                                        <label class="custom-control-label" x-bind:for="'customCheck' + treeIndex" for="">
                                                            <a class="text-warning" href="javascript:void(0);" @click="submitAction('view', getTreePath(treeItem), 2)" title="Go to folder">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder2" viewBox="0 0 16 16">
                                                                    <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 12.5v-9zM2.5 3a.5.5 0 0 0-.5.5V6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5zM14 7H2v5.5a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V7z"/>
                                                                </svg>
                                                                <span x-text="getTreePath(treeItem)"></span>
                                                            </a>
                                                        </label>
                                                    </div>
                                                </template>
                                                <template x-if="isFilePath(treeItem)">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input tree-checkbox" x-bind:id="'customCheck' + treeIndex" id="" type="checkbox" @click="toggleSelectList(getTreePath(treeItem), 1) ? '' : $event.target.checked = false">
                                                        <label class="custom-control-label" x-bind:for="'customCheck' + treeIndex" for="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                                            </svg>
                                                            <span x-text="getTreePath(treeItem)"></span>
                                                        </label>
                                                    </div>
                                                </template>
                                                </td>
                                                <td class="text-right">
                                                <template x-if="isTreePath(treeItem)">
                                                    <a href="javascript:void(0);" @click="submitAction('download', getTreePath(treeItem))" class="btn btn-sm btn-outline-secondary border">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                                        </svg>
                                                        <span class="nav-link-inner--text">Download Folder</span>
                                                    </a>
                                                </template>
                                                <template x-if="isFilePath(treeItem)">
                                                    <a href="javascript:void(0);" @click="submitAction('download', '', 0, getTreePath(treeItem))" class="btn btn-sm btn-outline-secondary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                                                        </svg>
                                                        <span class="nav-link-inner--text">Download File</span>
                                                    </a>
                                                </template>
                                                </td>
                                            </tr>
                                            </template>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </template>

        {{template "partials/footer" .}}
    </div>
    <!-- ./wrapper -->

    <template aria-label="modalBox" x-if="modal">
        <div x-bind:class="! modal ? 'fade' : 'show'":style="! modal ? 'display:none;' : 'display:block;'" x-transition class="modal" id="modal-notification">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-secondary pb-2">
                        <h6 class="modal-title">Supported Url List</h6>
                        <button @click="toggleModal" type="button" class="close p-2">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-white py-0">
                        <p class="lead">Github, Gitlab, Bitbucket, Gitea services fully supported.</p>
                        <p class="description">https://&lt;service&gt;/&lt;owner&gt;/&lt;repo&gt;/<br>
                        https://&lt;service&gt;/&lt;owner&gt;/&lt;repo&gt;.git<br>
                        https://&lt;service&gt;/&lt;owner&gt;/&lt;repo&gt;/blob/&lt;branch&gt;/&lt;file&gt;.&lt;ext&gt;<br>
                        https://&lt;service&gt;/&lt;owner&gt;/&lt;repo&gt;/-/blob/&lt;branch&gt;/&lt;file&gt;.&lt;ext&gt;<br>
                        https://&lt;service&gt;/&lt;owner&gt;/&lt;repo&gt;/tree/&lt;branch&gt;/&lt;folder&gt;/<br>
                        https://&lt;service&gt;/&lt;owner&gt;/&lt;repo&gt;/-/tree/&lt;branch&gt;/&lt;folder&gt;/<br>
                        https://&lt;service&gt;/&lt;owner&gt;/&lt;repo&gt;/blob/&lt;branch&gt;/&lt;folder&gt;/&lt;file&gt;.&lt;ext&gt;<br>
                        https://&lt;service&gt;/&lt;owner&gt;/&lt;repo&gt;/src/&lt;branch&gt;/&lt;folder&gt;/&lt;file&gt;.&lt;ext&gt;</p>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template aria-label="notifyBox" x-if="notifyBox">
        <div x-transition style="position: absolute; top: 90px; right: 30px;">
            <div x-bind:class="! notifyBox ? 'hide' : 'show'":class="notifyType" class="alert">
                <button @click="removeNotifyBox" type="button" class="close p-0">
                    <span>&times;</span>
                </button>
                <span x-text="notifyMessage"></span>
            </div>
        </div>
    </template>

    <script type="text/javascript" src="/assets/js/main.min.js"></script>
</body>
</html>