<template aria-label="homepage" x-if="homeSection">
    <div class="section p-0 py-3 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3">Contact Me</h1>
                    <p>If you have any questions, suggestions, or feedback about Gitdownloadmanager.com website, please don't hesitate to get in touch with me.</p>
                    <br>
                    <p><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdGEYdbi5X-QrBMpbz4JUGoWOOGRPhMNTOtpIl3QkiZaPGCsA/viewform?embedded=true" width="640" height="640" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>
                </div>
            </div>
        </div>
    </div>
</template>