<template aria-label="homepage" x-if="homeSection">
    <div class="section p-0 py-3 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3">{{.Item.Name}}</h1>
                </div>
            </div>
        </div>
    </div>
</template>